.leo-upload-view {
	position: relative;
	clear: both;
}

.leo-upload-view .close {
	width: 25px;
	height: 25px;
	background: rgba(0,0,0,.3);
	line-height: 23px;
	text-align: center;
	color: #fff;
	position: absolute;
	display: block;
	border-radius: 100%;
	left: 5px;
	top: 5px;
	cursor: pointer;
	transition: background .2s;
}

.leo-upload-view .close:hover {
	background: rgba(0,0,0,.7);
}

.leo-upload-view img {
	border: 1px solid #ddd;
	box-sizing: border-box;
}


.leo-repiter {
	border: 1px solid #ddd;
	padding: 10px;
}


